{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BMoney - {% block title %}Welcome{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap4-neon-glow.min.css' %}/">
    
    {% block extra_head %}{% endblock %}

  </head>
  <body>

{% block banner %}
<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="display-2">BMoney<span class="vim-caret">$</span></h1>
          <div class="lead mb-3 text-mono text-success">Showing you the money since 2019</div>
        </div>
        <div class="col-xl-2">
            {% if user.is_authenticated %}

            <div class="row">
              <h2 class="float-right">{{ user }}</h2>

              <a href="/logout/"
                 title="Log Out"
                 class="btn btn-danger btn-shadow px-3 my-2 ml-0 float-right text-right">
                Log Out
                </a>
            </div>

            {% else %}}
            
            {% endif %}
        </div>
      </div>
  </div>
</div>
{% endblock %}


{% block content %}{% endblock %}

<div>

</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block extra_script %}{% endblock %}
  </body>
</html>
